/*
Estilos para el archivo INTROWEB6.HTML

Estilos para el cuerpo y el Titular principal de la pagina
Agregamos estilos con el selector:
(#) - para Id
(.)- para clases
(elemento)nombre de la etiqueta- para elementos especificos
([attribute]):para elementos que tienen un atributo específico, independientemente de su valor.*/
body {
    background-color:#E7CEF2;
}
 h1, h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
 }

 #clasecontenedor, #claserow, #clasecol {
    color: aliceblue;
    background-color: #85579E;
    border: 1px solid #A663A1;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

 }
 /* Agregamos estilos a la barra de navegación y a los elementos dentro de la misma */
 #NavPrincipal {
    background-color: #8145B0;
 }

 .nav-link,
 .navbar-brand,
 .nav-link{
    color: #BC8CFF;
 }
.nav-link:hover,
.navbar-brand:hover,
.nav-link:hover {
    color: #562667;
 }
 .navbar-toggler {
    background-color: #D9B4CF;
 }
 